ABS_PATH="/home/xxxxx"
TOKEN="xxxxxxxxxxxxxxxxxxx"
SPAM_USERNAME="discord_username"
SPAM_USER_ID="xxxxxxxxxxxxxxxxxxx"
BOT_DISCORD_ID="xxxxxxxxxxxxxxxxxxx"
BINGO_CHANNEL_ID="xxxxxxxxxxxxxxxxxxx"
BINGO_MESSAGE_ID="xxxxxxxxxxxxxxxxxxx"
LASTFM_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
LASTFM_API_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPOTIFY_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
