[
  {
    "discordId": "XXXXXXXXXXXXXXXXXX",
    "lastfm": {
      "username": "XXXX",
      "sessionKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
      "web": {
        "session": ".eJyV..."
      }
    }
  }
]
